.App {
margin: 0;
background-color: #cfcfcf;
}

.App.component{
  margin: 0;
}
.component {
  /* border:5px solid darkolivegreen; */
  margin:5px;
  text-align: center;
}

/* ----Header Styles---- */
.header{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.homepageButton{
text-decoration: none;
}
.header h1{
  margin-left: 20px;
}

.header button{
  float: right;
  margin-right: 20px;
  height: 40px;
  border: solid #3dad40 2px;
  border-radius: 30px;
  font-size: 20px;
  background-color: white;
}
.header button:hover{
  background-color: #3dad40;
  color: white;
  border-color: black;
}
/* ----End Header Styles---- */
.footer{
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto 0 0 0;
  padding: 5px; 
}
/* ----Splash Styles---- */
#splash{
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#splash button{
  width: 25vw;
  height: 15vh;
  border: solid #3dad40 2px;
  border-radius: 30px;
  font-size: 25px;
  background-color: white;
  min-width: 185px;
}
#splash button:hover{
  background-color: #3dad40;
  color: white;
  border-color: black;
}

#splash h1, h2 {
  font-weight: lighter;
}

#splash h1{
  font-size: 60px;
}

#splash span {
  font-weight: bold
}


#buttons{
  margin-top:40px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  margin-bottom: 0.83em;
  min-height: 250px;
}
#buttons span {
  font-size: 14px;
  font-weight: lighter;
}
/* ----End Splash Styles---- */
#formPage{
  min-height: 81vh;
  display: flex;
}
.formpage{
  min-height: 81vh;
  display: flex;
}
.employer-splash{
  min-height: 85vh;
}
.detailsContainer{
  min-height: 86vh;
}
.result{
  min-height: 80vh;
  border: none;
}
.card{
  width: 15vw;
  border-radius: 10%;
}
#card-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
img {
  width: 15vw; /* width of container */
  height: 20vw; /* height of container */
  object-fit: cover;
  border-radius: 7%;
  border: 3px white solid;
}
img:hover{
  border-color: #3dad40;
}
.profileImage:hover{
border-color: white;
}
.employerHome{
 display: flex;
 flex-direction: row;
}
.profile{
display: flex;
flex-direction: row;
justify-content:space-around;
}
.idBar{
width: 35vw;
padding: 5px 15px;
}
/* ---------- New / Update Employee Component Start Styling --------- */
.formContainer{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 2%;
}

.formContainer button{
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

.checkboxes {
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

/*Responsive to small screens*/
@media (max-width: 768px) { 
  .form-group {
    flex-direction: column;
  }
  .form-group .input-control {
    margin-top: 2px;
  }
  .form-group label.right-inline {
    text-align: left;  
    padding-right: 0;
    padding-left: 0;   
  }
}
#return {
  display: flex;
  /* float: left; */
  margin-top: -20px;
  margin-bottom: -40px;
}

p{
  color: black;
  text-decoration: none;
}
a{
  color: black;
}
/* ----------- New / Update Employee Component End Styling ------------ */

/* -------------------- Search Bar Styling ---------------------------- */
.sideBar {
  height: 100%;
  width: 11vw;
  min-width: 155px;
  margin-top: 40px;
}
.sideBar p{
  font-weight: bold;
}
#cardBackButton{
  display: flex;
  /* float: left; */
  margin-top: -10px;
  margin-bottom: -40px;
  margin-left: 10px;
}

@media (max-width: 600px) { 
  #buttons {
  margin-top: 0px;
  flex-direction: column
}
}
@media (max-width: 466px) { 
  .header {
  flex-direction: column
}
.header h1 {
  margin-left: 0;
}
.header button {
margin-right: 0;
}
}